Repository santosh-gh/app-service-and-sql-database: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-ci-cd-web-app.yml, pipelines/pipeline-iac.yml

pipelines/pipeline-ci-cd-web-app.yml:
  stages:
  - stage: ci
    displayName: Continuous Integration
    jobs:
    - job: build
      displayName: Build, Test and Publish
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/build-test-publish-template.yaml
        parameters:
          buildConfiguration: $(buildConfiguration)
  ...

pipelines/pipeline-iac.yml:
  name: IaC Module 2
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: AzureResourceManagerTemplateDeployment@3
    displayName: Deploy with Bicep
    inputs:
      deploymentScope: Subscription
      azureResourceManagerConnection: $(serviceConnectionName)
      action: Create Or Update Resource Group
  ...

test update
  bicep/module2.bicep
Due: pipelines/pipeline-iac.yml

test update
  pipelines/pipeline-iac.yml
Due: pipelines/pipeline-iac.yml

test update
  bicep/module2.bicep
  bicep/modules/appServicePlan.bicep
  bicep/modules/sqlDatabase.bicep
  bicep/modules/sqlServer.bicep
  pipelines/pipeline-iac.yml
Due: pipelines/pipeline-iac.yml

test update
  bicep/modules/appService.bicep
  bicep/modules/appServicePlan.bicep
  bicep/modules/sqlDatabase.bicep
Due: pipelines/pipeline-iac.yml

test update
  bicep/module2.bicep
  bicep/modules/appService.bicep
  bicep/modules/appServicePlan.bicep
Due: pipelines/pipeline-iac.yml

test update
  bicep/module2.bicep
  pipelines/pipeline-iac.yml
Due: pipelines/pipeline-iac.yml

test update
  bicep/module4.bicep
  pipelines/pipeline-iac.yml
Due: pipelines/pipeline-iac.yml

init
  bicep/module5.bicep
  pipelines/templates/deploy-iac-template.yaml
Due: pipelines/pipeline-ci-cd-web-app.yml

Update pipeline-ci-cd-api-app.yml for Azure Pipelines
  pipelines/pipeline-ci-cd-api-app.yml
Due: none

Path conditions:
  pipelines/pipeline-ci-cd-web-app.yml: any of: web-app, pipelines/pipeline-ci-cd-web-app.yml, pipelines/templates
  pipelines/pipeline-iac.yml: any of: bicep/modules, bicep/module2.bicep, pipelines/pipeline-iac.yml
